.team--big{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 15em;
  width: 15em;
  margin: 2em 2em .5em 2em;
}

.title-card{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 3em;
}

.team-name{
  text-align: center;
  color: black;
}

.winner{
  text-align: center;
}

.comment-section{
  max-width: 60em;
  position: relative;
  margin: 0 auto;
}

.vs{
  padding: 1em 2em;
}