.splash{
  height: 65vh;
  background-size: cover;
  background-position: center;
}

.team-splash-title{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(230, 230, 230, 0.7);
  padding: 1em;
  font-size: 4em;
  border-radius: .5em;
}

.team-content{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.section-title{
  padding-top: .5em;
  font-size: 3em;
}

.roster{
  display: flex;
  flex-direction: column;
}