.league-logo{
  max-width: 25em;
  max-height: 15em;
  margin-top: 5em;
}

.twitch-player{
  background-image: url('https://cdn.vox-cdn.com/thumbor/HIZ93O6poGofY0iCQkZJVtV09-U=/0x0:1100x733/1200x800/filters:focal(0x0:1100x733)/cdn.vox-cdn.com/assets/3598899/lolesports.jpg');
  background-size: cover;
  background-position: center;
  height: 30em;
}

@media only screen and (max-width: 768px) {
  .twitch-player{
    height: 20em;
  }
}

.leagues-list{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
